<div class="btn-group {{actionDropdownAttributes.dropdownClass}}" ng-switch-when="button">
	<button class="btn {{actionDropdownAttributes.buttonClass}} dropdown-toggle btn-primary" data-toggle="dropdown"><i class="fa fa-{{actionDropdownAttributes.icon}}"></i> <span ng-bind="actionDropdownAttributes.title"></span> <span class="caret"></span></button>
	<ul class="dropdown-menu" id="{{actionDropdownAttributes.dropdownID}}">
		<li sw-process-caller ng-switch="processCaller.type" ng-repeat="processCaller in actionDropdownAttributes.processCallers" attributes="processCaller"></li>
	</ul>
</div>


<li class="dropdown" ng-switch-when="nav">
	<a href="#" class="dropdown-toggle"><i class="fa fa-{{actionDropdownAttributes.icon}}"></i> <span ng-bind="actionDropdownAttributes.title"></span> </a>
	<ul class="dropdown-menu {{actionDropdownAttributes.dropdownClass}}" id="{{actionDropdownAttributes.dropdownID}}">
		<li sw-process-caller ng-switch="processCaller.type" ng-repeat="processCaller in actionDropdownAttributes.processCallers" attributes="processCaller"></li>
	</ul>
</li>


<li ng-switch-when="sidenav">
	<a href="#"><i class="fa fa-{{actionDropdownAttributes.icon}}"></i> <span ng-bind="actionDropdownAttributes.title"></span> <span class="fa arrow"></span></a>
	<ul id="{{actionDropdownAttributes.dropdownID}}">
		<li sw-process-caller ng-switch="processCaller.type" ng-repeat="processCaller in actionDropdownAttributes.processCallers" /attributes="processCaller"></li>
	</ul>
</li>   
