<div class="row s-body-nav">
	<nav class="navbar navbar-default" role="navigation">
		<div class="col-md-6 s-header-info">
			<ul class="list-unstyled list-inline">
						
			</ul>
			<h1 class="actionbar-title" ng-bind="actionBarAttributes.pageTitle"></h1>
		</div>

		<div class="col-md-6">
			<div class="btn-toolbar">
				<div ng-repeat="actionCallerDropdown in actionBarAttributes.buttonGroups">
					<sw-action-dropdown attributes="actionCallerDropdown"></sw-action-dropdown>
				</div>
			</div>
		</div>
	</nav>
</div>

				